<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h2 style="font-family:sans-serif">server activated!</h2>
    <h3 style="font-family:sans-serif">If something does not load ,pls refresh the app since i am using free databse hosting and it can be slow at times.</h3>
    <h3 style="font-family:sans-serif">Visit the app : <a href="https://ecommerce-myhashcode.vercel.app">myHashCode.shop</a></h3>
    
</body>
</html>